body {
  font-family: 'Space Mono', monospace;
  background: #c5e4e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
}

.logo {
  display: block;
  width: 5vw;
  height: 5vh;
  margin-left: auto;
  margin-right: auto;
}

.main-card {
  background-color: white;
  border-radius: 10px;
  margin: 5vw;
  width: 50%;
  padding: 2vw 2vh;
}

.main-card .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-card .card-content button {
  background-color: #26c0ab;
  border: none;
  border-radius: 10px;
  color: #00494d;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
  width: 100%;
  padding: 1vh 1vw;
}

.main-card .card-content .card-info {
  width: 50vw;
  border-radius: 10px;
  padding: 2vh 2vw;
  padding-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 40vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-card .card-content .card-info .label-block {
  margin-top: 3vh;
}

.main-card .card-content .card-info .percentage-option {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr  1fr 1fr;
      grid-template-columns: 1fr  1fr 1fr;
  -webkit-column-gap: 1vh;
          column-gap: 1vh;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  row-gap: 1vw;
}

.main-card .card-content .card-info .percentage-option input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.main-card .card-content .card-info .percentage-option input[type="text"] {
  display: inline-block;
  border-radius: 10px;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 1em;
  text-align: right;
  width: 100%;
  padding: 0;
}

.main-card .card-content .card-info .percentage-option label {
  display: inline-block;
  background-color: #00494d;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-size: 1em;
  font-weight: 700;
}

.main-card .card-content .card-info form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.main-card .card-content .card-info form .label-title {
  color: #5e7a7d;
  font-size: 0.7em;
  margin-bottom: 1vh;
}

.main-card .card-content .card-info form input[type=text] {
  background-color: #7f9c9f;
  border: none;
  border-radius: 10px;
  padding: 2vh 1vw;
}

.main-card .card-content .card-info form input[type=radio] {
  background-color: #f4fafa;
  border: none;
  border-radius: 10px;
}

.main-card .card-content .card-results {
  background-color: #00494d;
  width: 50vw;
  border-radius: 10px;
  padding: 2vh 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 40vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-card .card-content .card-results .amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-card .card-content .card-results .amount .infos h2 {
  color: white;
  font-size: 0.7em;
  margin: 0;
}

.main-card .card-content .card-results .amount .infos h3 {
  color: #7f9c9f;
  font-size: 0.5em;
  margin: 0;
}

.main-card .card-content .card-results .amount .price {
  color: #26c0ab;
  font-size: 1.5em;
}

.main-card .card-content .card-results .amount .price h1 {
  margin: 0;
}
/*# sourceMappingURL=main.css.map */